body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 68, 0);
}

.error {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.player {
  border: 1px solid black;
  background-color: rgb(230, 173, 173);
  padding: 4px;
  margin-right: 8px;
}

.answer {
  border: 1px solid gray;
  padding: 4px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover:not(.selected) {
  background-color: rgb(255, 0, 0);
}

.selected {
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.correct {
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.wrong {
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.delay {
  opacity: 0;
  animation: fadeIn 0.25s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
